.community .editor-bar{
  line-height:3em;
}

.community.user-profile .header-wrapper,
.community.user-group-profile .header-wrapper{
  text-align:center;
  background:no-repeat center center;
  background-size:cover;
  margin:auto;
  margin-bottom: 10px;
  /*max-width:800px;*/
  border-radius:5px;
  border:1px solid #aaa;
}
  .community.user-profile .header,
  .community.user-group-profile .header{
    text-align:center;
    position:relative;
    display:inline-block;
    padding:20px;
    margin:35px;
    height:200px;
    background:rgba(255,255,255,0.85);
    border-radius:10px;
    box-shadow:1px 3px 4px rgba(0,0,0,0.3);
  }
    .community.user-profile .contact-info,
    .community.user-group-profile .contact-info{
      position:absolute;
      top:25px;
      right:20px;
    }
      .community.user-profile .contact-info a,
      .community.user-group-profile .contact-info a{
        display:block;
        text-decoration:none;
        text-align:right;
        padding:2px 0 2px 5px;
      }
      .community.user-profile .contact-info a:hover,
      .community.user-group-profile .contact-info a:hover{
        background:rgba(255,255,255,0.8);
        border-radius:2px;
      }
        .community.user-profile .contact-info a i,
        .community.user-group-profile .contact-info a i{
          margin:0 5px;
          display:inline-block;
          width:16px;
          text-align:center;
        }
        .community.user-profile .contact-info a span,
        .community.user-group-profile .contact-info a span{
          display:none;
        }
        .community.user-profile .contact-info a:hover span,
        .community.user-group-profile .contact-info a:hover span{
          display:inline;
        }
      
    .community.user-profile .logo,
    .community.user-group-profile .logo{
      width:90px;
      margin:8px auto 0 auto;
    }

.community .user-group-application-button{
  font-size:2em;
  margin-right:0.5em;
  display:inline-block;
}

.community.user-listing,
.community.user-group-listing{
  list-style:none;
}
  .community.user-group-listing .create_group,
  .community.user-group-listing .create-community-user-group-form{
    line-height:2em;
    margin-bottom:1em;
  }

.community.user-listing .profile,
.community.user-group-listing .profile{
  margin:0.5em 0;
}

.community .profile-link{
  text-decoration:none;
}

.community .avatar-wrapper{
  float:left;
  padding-right:5px;
}
.community .avatar{
  width:64px;
  margin:0 auto;
}

.community .group.profile .logo-wrapper{
  float:left;
  padding-right:1em;
}
.community .group.profile .logo{
  width:90px;
}

.community .user.profile span,
.community .group.profile span{
  display:block;
}
.community .group.profile span{
  line-height:180%;
}

.create-community-user-group-form{
  display:none;
}
.create-community-user-group-form label{
  display:none;
}

.edit-community-user-group-form{
  max-width:350px;
}
  .edit-community-user-group-form label{
    display:block;
  }
  .edit-community-user-group-form input[type=text],
  .edit-community-user-group-form input[type=password],
  .edit-community-user-group-form textarea{
    width:100%;
  }
  .edit-community-user-group-form textarea{
    height:6em;
  }
  .edit-community-user-group-form .ctrlHolder,
  .edit-community-user-group-form .buttonHolder{
    margin-bottom:1em;
  }
  .edit-community-user-group-form .for_logo_image_id.image-upload-field{
    height:150px;
  }
    .edit-community-user-group-form .for_logo_image_id .preview-image,
    .edit-community-user-group-form .for_logo_image_id .preview-image-background,
    .edit-community-user-group-form .for_logo_image_id .drop,
    .edit-community-user-group-form .for_logo_image_id .filelist{
      height:90px;
    }
